{% extends 'base.html' %}
{% block content %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">FDP
                            {% if fdp %}
                            <td>
                                <img src="/static/images/red.PNG" style="height: 15%; width:15%;" />
                            </td>
                            {% else %}
                            <td>
                                <img src="/static/images/green.PNG" style="height: 15%; width:15%;" />
                            </td>
                            {% endif %}
                        </h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">o1fdp01</div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <table class="table">
                                    <tr>
                                        <th>Name</th>
                                        <th>Equipped</th>
                                        <th>Condition</th>
                                    <tr>
                                {% for fan in o1fdp01 %}
                                <td>{{ fan.fan_name }}</td>
                                {% if fan.fan_status == "Enabled" %}
                                <td><img src="/static/images/on.PNG" style="height: 15%; width:15%;" /></td>
                                {% else %}
                                <td><img src="/static/images/off.PNG" style="height: 15%; width:15%;" /> </td>
                                {% endif %}
                                {% if fan.fan_health == "OK" %}
                                <td><img src="/static/images/green.PNG" style="height: 15%; width:15%;" /></td>
                                {% elif fan.fan_health == "0" %}
                                <td><img src="/static/images/amber.PNG" style="height: 15%; width:15%;" /></td>
                                {% else %}
                                <td><img src="/static/images/red.PNG" style="height: 15%; width:15%;" /> </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </table>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">o1fdp02

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table">
                                    <tr>
                                        <th>Name</th>
                                        <th>Equipped</th>
                                        <th>Condition</th>
                                    <tr>
                                    {% for fan in o1fdp02 %}
                                        <td>{{ fan.fan_name }}</td>
                                        {% if fan.fan_status == "Enabled" %}
                                        <td><img src="/static/images/on.PNG" style="height: 15%; width:15%;" /></td>
                                        {% else %}
                                        <td><img src="/static/images/off.PNG" style="height: 15%; width:15%;" /> </td>
                                        {% endif %}
                                        {% if fan.fan_health == "OK" %}
                                        <td><img src="/static/images/green.PNG" style="height: 15%; width:15%;" /></td>
                                        {% elif fan.fan_health == "0" %}
                                        <td><img src="/static/images/amber.PNG" style="height: 15%; width:15%;" /></td>
                                        {% else %}
                                        <td><img src="/static/images/red.PNG" style="height: 15%; width:15%;" /> </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                            </table>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">o1fdp03</div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table">
                                    <tr>
                                        <th>Name</th>
                                        <th>Equipped</th>
                                        <th>Condition</th>
                                    <tr>
                                {% for fan in o1fdp03 %}
                                <td>{{ fan.fan_name }}</td>
                                {% if fan.fan_status == "Enabled" %}
                                <td><img src="/static/images/on.PNG" style="height: 15%; width:15%;" /></td>
                                {% else %}
                                <td><img src="/static/images/off.PNG" style="height: 15%; width:15%;" /> </td>
                                {% endif %}
                                {% if fan.fan_health == "OK" %}
                                <td><img src="/static/images/green.PNG" style="height: 15%; width:15%;" /></td>
                                {% elif fan.fan_health == "0" %}
                                <td><img src="/static/images/amber.PNG" style="height: 15%; width:15%;" /></td>
                                {% else %}
                                <td><img src="/static/images/red.PNG" style="height: 15%; width:15%;" /> </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </table>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">o1fdp04</div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table">
                                    <tr>
                                        <th>Name</th>
                                        <th>Equipped</th>
                                        <th>Condition</th>
                                    <tr>
                                {% for fan in o1fdp04 %}
                                <td>{{ fan.fan_name }}</td>
                                {% if fan.fan_status == "Enabled" %}
                                <td><img src="/static/images/on.PNG" style="height: 15%; width:15%;" /></td>
                                {% else %}
                                <td><img src="/static/images/off.PNG" style="height: 15%; width:15%;" /> </td>
                                {% endif %}
                                {% if fan.fan_health == "OK" %}
                                <td><img src="/static/images/green.PNG" style="height: 15%; width:15%;" /></td>
                                {% elif fan.fan_health == "0" %}
                                <td><img src="/static/images/amber.PNG" style="height: 15%; width:15%;" /></td>
                                {% else %}
                                <td><img src="/static/images/red.PNG" style="height: 15%; width:15%;" /> </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </table>
                            </div>
                            
                        </div>

                        <!-- Area Chart -->
                        <!-- <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4"> -->
                                <!-- Card Header - Dropdown -->
                                <!-- <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- Card Body -->
                                <!-- <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <!-- Pie Chart -->
                        <!-- <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4"> -->
                                <!-- Card Header - Dropdown -->
                                <!-- <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div> -->
            
                            </div>
                        </div>
                    </div>

                        <div class="col-lg-6 mb-4">

    


                        </div>

                        <div class="col-lg-6 mb-4">

                    

                        </div>
                    </div>

                </div>


            </div>
    

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <!-- <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a> -->

    <!-- Logout Modal-->

    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/static/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/static/js/demo/chart-area-demo.js"></script>
    <script src="/static/js/demo/chart-pie-demo.js"></script>


    {% endblock %}